<button
  type="button"
  (click)="createArticle()"
  class="w-fit p-3 flex space-x-2 my-5 bg-primary text-white rounded-lg hover:bg-green-700 focus:ring-2 focus:ring-green-500 focus:ring-offset-2 transition-all"
>
  <fa-icon [icon]="faPlus"></fa-icon> <span>Create Article</span>
</button>
<ag-grid-angular
  class="ag-theme-alpine"
  [rowData]="articles"
  [columnDefs]="columnDefs"
  [paginationPageSize]="pageSize"
  [pagination]="true"
  [paginationPageSize]="20"
  [domLayout]="'autoHeight'"
  (gridReady)="onGridReady($event)"
>
</ag-grid-angular>
